.modalContainer {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	z-index: 2;
	background-color: rgba(138, 138, 138, 0.555);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ------------------- */

.modalWrapper {
	background-color: white;
}

/* ------------------- */

.modalSmallMapBox {
	width: 150px;
	height: 150px;
}
