.topbarContainer {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 40%;
	min-width: 375px;
	max-width: 570px;
	
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

	display: flex;
	flex-flow: wrap;

	.searchIcon {
		font-size: 20px;
		align-self: center;
		padding: 0 5px;
		flex-grow: 1;
	}
}
