// -------------------------------------------------------------------
// :: BOX
// -------------------------------------------------------------------

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

// -------------------------------------------------------------------
// :: FONTS SIZE
// -------------------------------------------------------------------

$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 18px;
$font-xxl: 20px;

// -------------------------------------------------------------------
// :: Z-INDEX
// -------------------------------------------------------------------

$bottom: 0;
$overlay: 1;
$top: 2;

// -------------------------------------------------------------------
// :: BORDER
// -------------------------------------------------------------------

$border-radius-md: 15px;
$border-radius-lg: 15px;

// -------------------------------------------------------------------
// :: COLORS
// -------------------------------------------------------------------

$white: #ffffff;
$black: #000000;