.searchContainer {
	/* center but with fixed width */
	/* left: 0; */
	/* right: 0; */
	/* margin: auto; */
	width: 350px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	border: 1.5px solid rgba(0, 0, 0, 0.625);
	border-radius: 10px;
}

/*--------------------*/

.searchInput {
	border: none;
	text-decoration: none;
	height: 30px;
	background-color: transparent;
}

.searchInput:focus {
	border: none;
	outline: none;
}

.searchInput::placeholder {
	color: grey;
	font-style: italic;
}

/*--------------------*/

.searchButton {
	background: none;
	border: none;
}

.searchButton:active {
	border-color: red;
}
