.background {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.login {
    width: 500px;

    &-form {
        align-items: center;
    }

    &-input {
        width: 200px;
    }

    &-button {
        width: 40%;
        padding: 10px;
    }
}