@use "../variables" as v;

.search-results {
	width: 100%;
	background-color: v.$white;
	padding: v.$spacer-sm v.$spacer-md;
	border-bottom-left-radius: v.$border-radius-md;
	border-bottom-right-radius: v.$border-radius-md;

	.result {
		padding: v.$spacer-xs;
	}
}
