.sidebar {
	position: absolute;
	left: $spacer-md;
	top: $spacer-md;
	bottom: $spacer-md;
	z-index: $overlay;
	width: 375px;
	padding: $spacer-md $spacer-lg;

	animation: fadeInLeft;
	-webkit-animation: fadeInLeft;
	-moz-animation: fadeInLeft;
	animation-duration: 1s;

	.scroll-container {
		margin-top: $spacer-md;
		overflow-x: hidden;
		overflow-y: scroll;
		height: calc(100% - $spacer-md * 3);
		scroll-behavior: smooth;
	}
}
