@use "../variables" as v;

.sidebar {
	position: absolute;
	left: v.$spacer-md;
	top: v.$spacer-md;
	bottom: v.$spacer-md;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 375px;
	z-index: v.$overlay
}
