@use "../variables" as v;

.topbarContainer {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 40%;
	min-width: 375px;
	max-width: 570px;
	
	background-color: v.$white;
	border-radius: v.$border-radius-lg;
	box-shadow: v.$box-shadow;

	display: flex;
	flex-flow: wrap;

	.searchIcon {
		font-size: 20px;
		align-self: center;
		padding: 0 5px;
		flex-grow: 1;
	}
}
