@use "../variables" as v;

.topbar {
	position: absolute;
	z-index: v.$overlay;
	top: v.$spacer-md;
	left: 50%;
	transform: translateX(-25%);
	width: 40%;
	min-width: 375px;
	max-width: 570px;

	flex-flow: wrap;

	.searchIcon {
		align-self: center;
		padding: 0 5px;
		flex-grow: 1;
	}
}
